@media (min-width: 520px){
    body {
        margin: 0%;
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
        background-image:url("images/VARIEDADE.jpg"); /*tem que ser da largura 1920 */
        background-repeat: no-repeat;/*manda não repetir*/
        background-size:cover;/*manda cobrir a tela inteira*/
        background-attachment: fixed;/*faz ficar rolando junto com a tela*/
        background-position: center;
        overflow-x: hidden;
    }

    header {
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        user-select: none;
        scroll-behavior: smooth;
    }

    header ul {
        color: rgb(0, 0, 0); 
        margin-right: 15px; 
    }

    header img {
        height: 70px;
        margin: 5px;
    }

    header ul li {
        list-style: none;
        display: inline-block;
        margin-top: 10px;   
        padding: 5px 5px 5px 15px;
        border-right: 5px solid rgb(20, 70, 232);
    }

    header ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    header a img[src="images/instagram.png"], header a img[src="images/whatsapp.png"] {
        position:relative;
        height: 20px;
        margin-top:30px;
        margin-left:30px;
    }
    .detail {
        background-color: rgb(20, 70, 232);
        width: 100%;
        height: 15px;
    }

    .background {
        font-size:50px;
        color: rgb(255, 255, 255);
        padding: 20px;
        height: 600px;
        width: 100%;
        display: flex; /* Adiciona display flex para centralizar o conteúdo */
        justify-content: center; /* é pra centralizar na horizontal*/
        align-items: center; /* é pra centralizar na vertical*/
    }

    .background h1 {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 60px;
        width:800px;
        margin: 0; /* Remove as margens padrão do h1 */
        padding: 10px 10%;
        margin-top: 90px;
        font-size:50px;
        justify-content: center;
    }


    .content {
        background-color: rgb(255, 255, 255);

    }
}

@media (max-width: 520px){
    body {
        margin: 0%;
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
    }

    header {
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    header ul {
        color: rgb(0, 0, 0); 
        margin-right: 10px; 
    }

    header img {
        height: 50px;
        margin: 5px;
    }

    header ul li {
        list-style: none;
        display: inline-block;
        margin-top: 10px;   
        padding: 3px 3px 3px 10px;
        border-right: 3px solid rgb(20, 70, 232);
    }

    header ul li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .detail {
        background-color: rgb(20, 70, 232);
        width: 100%;
        height: 10px;
    }
}